    <div class="headings">
        <h1>SuperMarkeet</h1>
        <h5>IIIT Bhubaneswar</h5>
        <ul>
            <li><a href="/index">Index</a></li>
            <li><a href="/customer">Customer</a></li>
            <li><a href="/admin">Admin</a></li>
                <li><a href="/admin/products">Products</a></li>
                <li><a href="/admin/sale">Sales</a></li>
                <li><a href="/admin/employees">Employees</a></li>
                <li><a href="/admin/employee-sale">Employees-sale</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>