<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sale page</title>
</head>
<body>
    <h1>This is sale page</h1>
    takes most of the data from products table;
    <table border="2px">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity Sold</th>
            <th>Profit Earned</th>
            <th>Average time of sale</th>
        </tr>
        <tr>
            <td>Dummy ID</td>
            <td>Dummy number</td>
            <td>dummy Q</td>
            <td>dummy profit</td>
            <td>dummy time</td>
        </tr>
        <tr>
            <td>Dummy ID</td>
            <td>Dummy number</td>
            <td>dummy Q</td>
            <td>dummy profit</td>
            <td>dummy time</td>
        </tr>
    </table>
    min profit
    max profit
    quickest sell
</body>
</html>