<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees Page</title>
</head>
<body>
    <h1>This is employees page</h1>
    <table border="2px">
        <tr>
            <th>employee ID</th>
            <th>employee Name</th>
            <th>designation</th>
            <th>salary</th>
        </tr>
        <tr>
            <td>Dummy ID</td>
            <td>Dummy number</td>
            <td>dummy Q</td>
            <td>dummy MRP</td>
        </tr>
        <tr>
            <td>Dummy ID</td>
            <td>Dummy number</td>
            <td>dummy Q</td>
            <td>dummy MRP</td>
        </tr>
    </table>
    <button>Add product</button>
    <form action="/admin/employees" method="post">
        <input name="employeeID" placeholder="employee ID" type="text">
        <input name="employeeName" placeholder="employee Name" type="text">
        <input name="employeeDesgn" placeholder="employee designation" type="text">
        <input name="employeeSalary" placeholder="employee salary" type="text">
        <input type="submit" value="submit">
    </form>
</body>
</html>