<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin page</title>
</head>
<body>
    <h1>This is admin page</h1>
    you can add or remove admins from here
    <table border="2px">
        <tr>
            <th>Access ID</th>
            <th>Date of creation</th>
            <th>Options</th>
        </tr>
        <tr>
            <td>Dummy ID</td>
            <td>Dummy doc</td>
            <td>
                <form action="/admin" method="delete">
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>
        <tr>
            <td>Dummy ID</td>
            <td>Dummy doc</td>
            <td>
                <form action="/admin" method="delete">
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>
    </table>
    <!-- will render all the admins-->
    <!-- and option to add and delete some-->
    <button>Add admin</button>
    <form action="/admin" method="post" class="">
        <input name="accessID" placeholder="AccessID" type="text">
        <input name="password" placeholder="Password" type="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>