<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>products page</title>
</head>
<body>
    <h1>This is products page</h1>
    <table border="2px">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>MRP</th>
        </tr>
        <tr>
            <td>Dummy ID</td>
            <td>Dummy number</td>
            <td>dummy Q</td>
            <td>dummy MRP</td>
        </tr>
        <tr>
            <td>Dummy ID</td>
            <td>Dummy number</td>
            <td>dummy Q</td>
            <td>dummy MRP</td>
        </tr>
    </table>
    <button>Add product</button>
    <form action="/admin/products" method="post">
        <input name="productID" placeholder="Product ID" type="text">
        <input name="productName" placeholder="Product Name" type="text">
        <input name="productQuantity" placeholder="Product Quantity" type="text">
        <input name="productMRP" placeholder="Product MRP" type="text">
        <input type="submit" value="submit">
    </form>
</body>
</html>