<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IIIT BHUBANESHWAR</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="bg-cover">
        <div class="box-container">
            <div class="box">
                <h1>IIIT BHUBANESHWAR</h1>
                <hr>
                <div class="row">
                    <button class="btn btn-warning">Administrator</button>
                    <button class="btn btn-primary">Customer</button>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>