<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/index.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="css/signup.css"
    />
    <link rel="stylesheet" href="css/login.css">
    <script src=""></script>
  </head>
  <body class="bg-cover">
    <div class="sign-container">
      <div class="signbox">
        <h1>IIIT BHUBANESHWAR</h1>
        <hr>
        <form action="/" method="post">
          <input type="email" name="email" placeholder="Email" />
          <input type="password" name="password" placeholder="Password" />
          <button type="submit">Login!</button>
        </form>
      </div>
    </div>
  </body>
</html>
